* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  transition: all 0.2s linear;
}
html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}
body {
  background: #f7f7f7;
  font-family: "Poppins", sans-serif;
}

*::selection {
  background: #2b3dda;
  color: #fff;
}

html::-webkit-scrollbar {
  width: 0.5rem;
}
html::-webkit-scrollbar-track {
  background: rgb(235, 202, 245);
}
html::-webkit-scrollbar-thumb {
  background: #420177;
}

/* pre loader start */
.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  background: #e6eff1;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}
.loader-container.fade-out {
  top: -120%;
}
/* pre loader end */

/* navbar starts */
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.06rem 6.25%;
  height: 4.06rem;
  background-color: #fff;
  box-shadow: 0 0.63px 2.5px rgba(146, 161, 176, 0.3);
}
section {
  min-height: 100vh;
  padding: 1.25rem 5.63%;
}
.heading {
  font-size: 2.19rem;
  color: rgb(32, 32, 32);
  font-weight: 800;
  text-align: center;
}
.heading span {
  color: rgb(115, 3, 167);
}
header .logo {
  font-size: 1.19rem;
  font-weight: 800;
  text-decoration: none;
  color: #0e2431;
}
header .logo i {
  font-size: 1.38rem;
}
header .logo:hover {
  color: #fc8c05;
}
header .mm-navbar ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .mm-navbar li {
  margin-left: 1.56rem;
}
header .mm-navbar ul li a {
  font-size: 0.98rem;
  color: #0e2431;
  font-weight: 600;
  text-decoration: none;
  letter-spacing: 0.03rem;
  transition: 0.2s;
}
header .mm-navbar ul li a.mm-active,
header .mm-navbar ul li a:hover {
  color: #011aff;
  border-bottom: 0.13rem solid #011aff;
  padding: 0.31rem 0;
}
/* navbar ends */

/* hamburger icon starts*/
#menu {
  font-size: 1.88rem;
  cursor: pointer;
  color: rgb(24, 2, 63);
  display: none;
}
@media (max-width: 768px) {
  #menu {
    display: block;
  }
  header .mm-navbar {
    position: fixed;
    top: 4.06rem;
    right: -120%;
    width: 75%;
    height: 100%;
    text-align: left;
    align-items: flex-start;
    background-color: #0e0f31;
  }
  header .mm-navbar ul {
    flex-flow: column;
    padding: 0.63rem;
  }
  header .mm-navbar ul li {
    text-align: center;
    width: 100%;
    margin: 0.63rem 0;
    border-radius: 0.31rem;
    width: 16.25rem;
  }
  header .mm-navbar ul li a {
    display: block;
    padding: 0.63rem;
    text-align: left;
    color: #fff;
    font-size: 1.25rem;
  }
  header .mm-navbar ul li a.mm-active,
  header .mm-navbar ul li a:hover {
    padding: 0.63rem;
    color: #fff;
    border-radius: 0.31rem;
    border-bottom: 0.31rem solid #011aff;
  }
  .fa-times {
    transform: rotate(180deg);
  }
  header .mm-navbar.nav-toggle {
    right: 0;
  }
}
/* hamburger icon ends */

/* hero section starts*/
.home {
  position: relative;
  min-height: 100vh;
}
.home #particles-js {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.home::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.home .content {
  z-index: 1;
}
.home .image {
  z-index: 1;
}
.home .image img {
  width: 18.75rem;
  height: auto;
  border-radius: 50%;
  box-shadow: 0 1.25px 5px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
.home .image img:hover {
  box-shadow: 0 3.13px 9.38px rgba(0, 0, 0, 0.5);
}
.home .content h2 {
  font-size: 3.13rem;
  font-weight: 800;
  color: #002057;
}
.home .content h2 span {
  font-size: 3.13rem;
  font-weight: 800;
  color: #ff7b00;
}
.home .content p {
  font-size: 1.56rem;
  color: #000;
  font-weight: 600;
  padding: 0.63rem 0;
}
.home .content p span {
  font-size: 1.56rem;
  color: rgb(148, 8, 8);
  font-weight: 600;
  padding: 0.63rem 0;
}
.home .mm-btn {
  margin-top: 0.63rem;
  padding: 1rem 1.88rem;
  border-radius: 4em;
  transition: 0.5s;
  color: #fff;
  background: #2506ad;
  box-shadow: 0px 3.13px 11.25px rgba(48, 68, 247, 0.6);
  font-family: "Nunito", sans-serif;
}
.home .mm-btn span {
  font-weight: 700;
  font-size: 1.06rem;
  letter-spacing: 0.06rem;
}
.home .mm-btn i {
  margin-left: 0.19rem;
  font-size: 0.94rem;
  transition: 0.3s;
}
.home .mm-btn:hover {
  background: #1a047e;
}
.home .mm-btn:hover i {
  transform: translateX(3.13px);
}
/* social icons start */
.socials {
  position: relative;
  margin-top: 3rem;
}
.socials .social-icons {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.socials .social-icons li {
  display: inline-block;
  margin-bottom: 8.75px;
}
.social-icons a {
  font-size: 1.25rem;
  display: inline-block;
  line-height: 27.5px;
  color: #00d9ff;
  background-color: #09011b;
  width: 27.5px;
  height: 27.5px;
  text-align: center;
  margin-right: 5px;
  border-radius: 100%;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
  color: #fff;
  background-color: #0685da;
}
.social-icons a.github:hover {
  background-color: #0e0e0e;
}
.social-icons a.twitter:hover {
  background-color: #00aced;
}
.social-icons a.linkedin:hover {
  background-color: #007bb6;
}
.social-icons a.dev:hover {
  background-color: #070707;
}
.social-icons a.instagram:hover {
  background-color: #ee00da;
}
/* social icons end */
/* hero section end */

/* about section starts */
.about {
  background: rgb(255, 255, 255);
}

.about .mm-row .image {
  text-align: center;
  flex: 1 1 35rem;
}
.about .mm-row .image img {
  margin: 2.5rem;
  width: 18.75rem;
  height: auto;
  border-radius: 5%;
  box-shadow: 0 3.13px 6.25px rgba(0, 0, 0, 0.6);
  mix-blend-mode: luminosity;
  transition: 0.3s;
  cursor: pointer;
}
.about .mm-row .image img:hover {
  mix-blend-mode: normal;
}
.about .mm-row .content {
  flex: 1 1 45rem;
  padding: 1.88rem;
}
.about .mm-row .content h3 {
  color: rgb(27, 27, 27);
  font-size: 1.56rem;
}
.about .mm-row .content .tag {
  font-size: 0.88rem;
  color: #020133;
  font-weight: 600;
  margin-top: 0.63rem;
}
.about .mm-row .content .box-container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.94rem;
  font-family: "Nunito";
  font-weight: 600;
}
.about .mm-row .content .box-container .box p {
  text-transform: none;
}
.about .mm-row .content .box-container .box p span {
  color: #011aff;
}
.resumebtn {
  margin-top: 3.75rem;
}
.resumebtn .mm-btn {
  padding: 1.06rem 1.88rem;
  border-radius: 0.5em;
  transition: 0.3s;
  color: #fff;
  background: #2506ad;
  box-shadow: 0px 3.13px 6.25px rgba(48, 68, 247, 0.6);
  font-family: "Nunito", sans-serif;
}
.resumebtn .mm-btn span {
  font-weight: 600;
  font-size: 1.13rem;
  letter-spacing: 0.06rem;
}
.resumebtn .mm-btn i {
  margin-left: 0.19rem;
  font-size: 0.75rem;
  transition: 0.3s;
}
.resumebtn .mm-btn:hover {
  background: #1a047e;
}
.resumebtn .mm-btn:hover i {
  transform: translateX(3.13px);
}
/* about section ends */

/* skills section starts */
.skills {
  min-height: 56.25vh;
  background: linear-gradient(to bottom, #57059e, #4a00e0);
}
.skills h2 {
  color: #fff;
}
.skills .heading span {
  color: rgb(255, 230, 0);
}
.skills .mm-container {
  background: rgba(0, 0, 22, 0.4);
  color: #fff;
  border-radius: 0.63rem;
  padding: 1.25rem;
  width: 90%;
  margin: auto;
  margin-top: 1.25rem;
}
.skills .mm-container .mm-row {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  flex-wrap: wrap;
  gap: 1.13rem;
}
.skills .mm-container .bar {
  margin-bottom: 9.38px;
  padding: 6.25px;
  border-radius: 0.63rem;
  box-shadow: 0 2.5px 6.25px rgba(0, 0, 0, 0.2);
  background: rgba(0, 0, 22, 0.9);
  transition: 0.2s;
}
.skills .mm-container .bar:hover {
  box-shadow: 0 5px 6.25px rgba(0, 2, 68, 0.8) !important;
  background-color: rgba(0, 0, 0, 0.9) !important;
}
.skills .mm-container .bar .info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.63rem;
  margin-top: 0.63rem;
}
.skills .mm-container .bar .info i {
  font-size: 2.5rem;
}
.skills .mm-container .bar .info span {
  font-size: 1.25rem;
  font-weight: 500;
  font-family: "Poppins";
  margin-left: 0.31rem;
}
/* skills media queries starts*/
@media screen and (max-width: 600px) {
  .skills .mm-container {
    padding: 0;
    margin: 0;
  }
  .skills .mm-container .mm-row {
    grid-template-columns: repeat(2, 1fr);
    margin: 0.63rem;
    padding: 1.25rem 0.13rem 1.25rem 0.13rem;
    gap: 0.63rem;
  }
  .skills .mm-container {
    margin-top: 3.13px;
    width: 100%;
  }
}
/* skills media queries ends*/
/* skills section ends */

/* mmexp section starts */

.mmexp .box-container .box {
  border-radius: 0.31rem;
  box-shadow: 0.13rem 0.31rem 0.63rem rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  background: rgb(252, 252, 252);
}
.mmexp .box-container .box:hover {
  transform: scale(1.03);
  box-shadow: 0.63rem 0.31rem 0.75rem rgba(0, 0, 0, 0.3);
}
/* mmexp section ends */

/* work section starts */
.work {
  /* background: #010124; */
  background: linear-gradient(to bottom, #000031, #00002c);
}
.work h2 {
  color: #fff;
  padding: 0.63rem;
}
.work .heading span {
  color: rgb(255, 230, 0);
}
.work .box-container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.94rem;
  margin: 1.25rem;
}
.work .box-container .box {
  flex: 1 1 30rem;
  border-radius: 0.31rem;
  box-shadow: 0 0.31rem 0.63rem rgba(0, 0, 0, 0.1);
  position: relative;
  overflow: hidden;
  height: 18.75rem;
}
.work .box-container .box img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.work .box-container .box .content {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 85%;
  left: 0;
  background: rgba(255, 255, 255, 0.9);
  display: flex;
  flex-direction: column;
}
.work .box-container .box .content .tag {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 2.81rem;
  width: 100%;
  padding-left: 0.63rem;
  background: #ffd900;
}

.work .box-container .box:hover .content {
  top: 6.25%;
}
.work .desc {
  margin: 1.25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.work .desc .btns {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 1.25rem;
}
.work .desc .btns .mm-btn {
  line-height: 0;
  display: inline;
  padding: 0.94rem 1.56rem;
  border-radius: 0.31rem;
  font-size: 0.94rem;
  color: #fff;
  background: rgb(12, 12, 12);
  margin-right: 1.25rem;
}
.work .desc .btns .mm-btn:hover {
  background: #310ae0f5;
}
.work .viewall {
  display: flex;
  justify-content: center;
}
.work .viewall .mm-btn {
  position: relative;
  line-height: 0;
  padding: 1rem 1.88rem;
  border-radius: 0.5em;
  transition: 0.5s;
  color: rgb(255, 255, 255);
  font-weight: 700;
  border: 1.25px solid #fff;
  box-shadow: 0px 3.13px 6.25px rgba(65, 84, 241, 0.4);
  text-align: center;
}
.work .viewall .mm-btn span {
  font-weight: 600;
  font-size: 1.06rem;
  font-family: "Nunito", sans-serif;
}
.work .viewall .mm-btn i {
  margin-left: 0.19rem;
  font-size: 0.94rem;
  transition: 0.3s;
}
.work .viewall .mm-btn:hover {
  background: #fff;
  color: #000;
}
.work .viewall .mm-btn:hover i {
  transform: translateX(3.13px);
}
/* work section ends */

/* mmedu section starts */
.mmedu .qoute {
  font-size: 0.94rem;
  text-align: center;
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  margin-top: 0.31rem;
}
.mmedu .timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}
.mmedu .timeline::after {
  content: "";
  position: absolute;
  width: 3.75px;
  background: #020133;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -1.88px;
  z-index: -2;
}
.mmedu .mm-container {
  padding: 6.25px 25px;
  position: relative;
  background-color: inherit;
  width: 50%;
}
/*circles on timeline*/
.mmedu .mm-container::after {
  content: "\f0b1";
  position: absolute;
  width: 15.63px;
  height: 15.63px;
  right: -10.63px;
  background-color: rgb(255, 255, 255);
  border: 2.5px solid #ff9f55;
  top: 9.38px;
  border-radius: 50%;
  z-index: 100;
  font-size: 1.19rem;
  text-align: center;
  font-weight: 600;
  color: #02094b;
  font-family: "Font Awesome\ 5 Free";
}
.mmedu .left {
  left: 0;
}
.mmedu .right {
  left: 50%;
}
/* arrows pointing right */
.mmedu .left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 13.75px;
  width: 0;
  z-index: 1;
  right: 18.75px;
  border: medium solid #f68c09;
  border-width: 6.25px 0 6.25px 6.25px;
  border-color: transparent transparent transparent #f68c09;
}
/* arrows pointing left  */
.mmedu .right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 13.75px;
  width: 0;
  z-index: 1;
  left: 18.75px;
  border: medium solid #f68c09;
  border-width: 6.25px 6.25px 6.25px 0;
  border-color: transparent #f68c09 transparent transparent;
}
.mmedu .right::after {
  left: -10px;
}
.mmedu .content {
  background-color: #f68c09;
  position: relative;
  border-radius: 3.75px;
}
.mmedu .content .tag {
  font-size: 0.81rem;
  padding-top: 0.94rem;
  padding-left: 0.94rem;
}
.mmedu .content .desc {
  margin-left: 0.94rem;
  padding-bottom: 0.63rem;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
  .mmedu {
    min-height: 50vh;
  }
  .mmedu .timeline {
    margin-top: 1.25rem;
  }
  .mmedu .timeline::after {
    left: 19.38px;
  }
  .mmedu .mm-container {
    width: 100%;
    padding-left: 5rem;
    padding-right: 1.25rem;
  }
  .mmedu .mm-container::after {
    font-size: 1.38rem;
  }
  .mmedu .mm-container::before {
    left: 38.13px;
    border: medium solid #f68c09;
    border-width: 6.25px 6.25px 6.25px 0;
    border-color: transparent #f68c09 transparent transparent;
  }
  .mmedu .left::after {
    left: 9.38px;
  }
  .mmedu .right::after {
    left: 9.38px;
  }
  .mmedu .right {
    left: 0%;
  }
}
/* mmedu media queries ends */
/* mmedu section ends */

/* contact section starts */
.contact {
  background: #e5ecfb;
  min-height: 37.5vh;
}
.contact .mm-container {
  max-width: 1050px;
  width: 100%;
  background: #fff;
  border-radius: 0.94rem;
  margin: 1.25rem 3.13rem;
  box-shadow: 0 3.13px 6.25px rgba(0, 0, 0, 0.15);
}
.contact .mm-container .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.56rem 1.25rem;
}
.contact .content .image-box {
  max-width: 60%;
  margin-left: 2.5rem;
}
.contact .content .image-box img {
  width: 100%;
  height: 25rem;
  position: relative;
}
.contact .content form {
  width: 45%;
  margin-right: 2.19rem;
}
form .mm-form-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.mm-form-group .field {
  height: 31.25px;
  display: flex;
  position: relative;
  margin: 0.63rem;
  width: 100%;
}
form i {
  position: absolute;
  top: 50%;
  left: 11.25px;
  color: rgb(51, 51, 51);
  font-size: 10.63px;
  pointer-events: none;
  transform: translateY(-50%);
}
form .field input,
form .message textarea {
  width: 100%;
  height: 100%;
  outline: none;
  padding: 0 10px 0 30px;
  font-size: 10px;
  font-family: "Poppins", sans-serif;
  border-radius: 3.13px;
  border: 0.63px solid rgb(51, 51, 51);
  background: #e5ecfb;
}
.field input::placeholder,
.message textarea::placeholder {
  color: rgb(51, 51, 51);
}
.field input:focus,
.message textarea:focus {
  padding-left: 29.38px;
  border: 1.25px solid rgb(115, 3, 167);
}
.field input:focus ~ i,
.message textarea:focus ~ i {
  color: rgb(115, 3, 167);
}
form .message {
  position: relative;
  margin: 0.63rem;
  width: 100%;
}
form .message i {
  top: 15.63px;
  font-size: 12.5px;
  left: 9.38px;
}
form .message textarea {
  min-height: 81.25px;
  max-height: 143.75px;
  max-width: 100%;
  min-width: 100%;
  padding: 7.5px 12.5px 0 30px;
}
form .message textarea::-webkit-scrollbar {
  width: 0px;
}
form .button-area {
  display: flex;
  float: right;
  flex-direction: row-reverse;
}
.button-area button {
  color: #fff;
  border: none;
  outline: none;
  font-size: 1.13rem;
  cursor: pointer;
  border-radius: 3.13px;
  padding: 8.13px 15.63px;
  background: #2506ad;
  box-shadow: 0px 3.13px 6.25px rgba(48, 68, 247, 0.6);
  transition: 0.3s ease;
  font-family: "Nunito", sans-serif;
}
.button-area button:hover {
  background: #421cecf5;
}
.button-area span {
  font-size: 10.63px;
  padding: 0.63rem;
  display: none;
}
.button-area button i {
  position: relative;
  top: 3.75px;
  left: 1.25px;
  font-size: 0.94rem;
  transition: 0.3s;
  color: #fff;
}
.button-area button:hover i {
  left: 5px;
}
/* contact section media queries starts */
@media (max-width: 900px) {
  .contact {
    min-height: 43.75vh;
  }
  .contact .mm-container {
    margin: 1.88rem 0 1.25rem 0;
  }
  .contact .mm-container .content {
    padding: 11.25px 7.5px;
  }
  .contact .content .image-box {
    display: none;
  }
  .contact .content form {
    width: 100%;
    margin-right: 1.25rem;
  }
}
/* contact section media queries ends */
/* contact section ends */

/* footer section starts */
.footer {
  min-height: auto;
  padding-top: 0;
  background: rgb(0, 1, 43);
}
.footer .box-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.footer .box-container .box {
  flex: 1 1 25rem;
  margin: 1.56rem;
}
.footer .box-container .box h3 {
  font-size: 1.56rem;
  color: #fff;
  padding-bottom: 0.63rem;
  font-weight: normal;
}
.footer .box-container .box p {
  font-size: 0.94rem;
  color: #ccc;
  padding: 0.44rem 0;
  text-transform: none;
}
.footer .box-container .box p i {
  padding-right: 0.63rem;
  color: #ffae00;
}
.footer .box-container .box a {
  font-size: 0.94rem;
  color: rgb(238, 238, 238);
  padding: 0.19rem 0;
  display: block;
}
.footer .box-container .box a:hover {
  color: #ffae00;
}
.footer .box-container .box .share {
  display: flex;
  flex-wrap: wrap;
  padding: 0.63rem 0;
}
.footer .box-container .box .share a {
  height: 2.5rem;
  width: 2.5rem;
  padding: 0.63rem;
  text-align: center;
  border-radius: 3.13rem;
  font-size: 1.06rem;
  margin-right: 0.63rem;
  transition: 0.2s;
  background: rgb(230, 230, 230);
  color: #02094b;
  border: none;
}
.footer .box-container .box .share a:hover {
  background: transparent;
  transform: scale(0.98);
  border: 0.06rem solid rgb(180, 178, 178);
  color: #ffae00;
}
.footer .credit {
  padding: 0.63rem 0 0 0;
  text-align: center;
  font-size: 0.94rem;
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  color: #fff;
  border-top: 0.06rem solid #fff3;
}
.footer .credit a {
  color: #ffae00;
}
.footer .fa {
  color: #e90606;
  margin: 0 0.19rem;
  font-size: 0.94rem;
  animation: pound 0.35s infinite alternate;
}
@-webkit-keyframes pound {
  to {
    transform: scale(1.1);
  }
}
@keyframes pound {
  to {
    transform: scale(1.1);
  }
}
@media (max-width: 450px) {
  .footer .box-container .box {
    margin: 0.94rem;
  }
  .footer .box-container .box p {
    padding: 0.44rem;
  }
  .footer .box-container .box .share a {
    padding: 0.75rem;
  }
}
/* footer section ends */

/* common media queries starts*/
@media (max-width: 450px) {
  html {
    font-size: 55%;
  }
  body {
    padding-right: 0;
  }
  section {
    padding: 1.25rem;
  }
}
/* common media queries ends*/

/* scroll top starts */
#scroll-top {
  position: fixed;
  top: -140%;
  right: 1.25rem;
  padding: 0.63rem 0.94rem;
  font-size: 1.25rem;
  background: #ffae00;
  color: rgb(13, 0, 44);
  border-radius: 50%;
  transition: 1s linear;
  z-index: 1000;
}
#scroll-top.active {
  top: calc(100% - 7.5rem);
}
/* scroll top ends */